# Configurações de Desenvolvimento
TELEGRAM_BOT_TOKEN=SEU_TOKEN_DE_TESTE
VALOR_CONTRIBUICAO=5.0
ADMINS=SEU_ID_TELEGRAM
DB_PATH=data/caixinha_dev.db
ENV=development
DEBUG=true
COBRANCA_DIA=10
COBRANCA_HORA=9
COBRANCA_MINUTO=0
TIMEZONE=America/Sao_Paulo